<?xml version="1.0"?>
<config>
    <modules>
        <Etsb_Cateditor>
            <version>1.0.0</version>
        </Etsb_Cateditor>
    </modules>
    <global>
        <helpers>
            <cateditor>
                <class>Etsb_Cateditor_Helper</class>
            </cateditor>
        </helpers>
        <models>
            <cateditor>
                <class>Etsb_Cateditor_Model</class>
                <resourceModel>cateditor_mysql4</resourceModel>
            </cateditor>
            <cateditor_mysql4>
                <class>Etsb_Cateditor_Model_Mysql4</class>
                <entities>
                    <editor>
                        <table>etsbeditor</table>
                    </editor>
                </entities>
            </cateditor_mysql4>
        </models>

        <blocks>
            <cateditor>
                <class>Etsb_Cateditor_Block</class>
            </cateditor>
        </blocks>
        <resources>
            <cateditor_setup>
                <setup>
                    <module>Etsb_Cateditor</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cateditor_setup>
            <cateditor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cateditor_write>
            <cateditor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cateditor_read>
        </resources>
    </global>
    <default>
        <cateditor>
            <general>
                <enabled>1</enabled>
                <minSlides>1</minSlides>
                <maxSlides>1</maxSlides>
                <speed>500</speed>
                <imagewidth>684</imagewidth>
            </general>
        </cateditor>

    </default>
    <frontend>
        <routers>
            <cateditor>
                <use>standard</use>
                <args>
                    <module>Etsb_Cateditor</module>
                    <frontName>cateditor</frontName>
                </args>
            </cateditor>
        </routers>
        <layout>
            <updates>
                <cateditor>
                    <file>cateditor.xml</file>
                </cateditor>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <cateditor>
                <use>admin</use>
                <args>
                    <module>Etsb_Cateditor</module>
                    <frontName>cateditor</frontName>
                </args>
            </cateditor>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <cateditor>
                    <file>cateditor.xml</file>
                </cateditor>
            </updates>
        </layout>
    </adminhtml>

</config>