<?xml version="1.0"?>
<config>
    <modules>
        <Etsb_Editor>
            <version>1.0.0</version>
        </Etsb_Editor>
    </modules>
    <global>
        <helpers>
            <editor>
                <class>Etsb_Editor_Helper</class>
            </editor>
        </helpers>
        <models>
            <editor>
                <class>Etsb_Editor_Model</class>
                <resourceModel>editor_mysql4</resourceModel>
            </editor>
            <editor_mysql4>
                <class>Etsb_Editor_Model_Mysql4</class>
                <entities>
                    <editor>
                        <table>etsbeditor</table>
                    </editor>
                </entities>
            </editor_mysql4>
        </models>

        <blocks>
            <editor>
                <class>Etsb_Editor_Block</class>
            </editor>
        </blocks>
        <resources>
            <editor_setup>
                <setup>
                    <module>Etsb_Editor</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </editor_setup>
            <editor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </editor_write>
            <editor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </editor_read>
        </resources>
    </global>
    <default>
        <editor>
            <general>
                <enabled>1</enabled>
                <minSlides>1</minSlides>
                <maxSlides>1</maxSlides>
                <speed>500</speed>
                <imagewidth>684</imagewidth>
            </general>
        </editor>

    </default>
    <frontend>
        <routers>
            <editor>
                <use>standard</use>
                <args>
                    <module>Etsb_Editor</module>
                    <frontName>editor</frontName>
                </args>
            </editor>
        </routers>
        <layout>
            <updates>
                <editor>
                    <file>editor.xml</file>
                </editor>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <editor>
                <use>admin</use>
                <args>
                    <module>Etsb_Editor</module>
                    <frontName>editor</frontName>
                </args>
            </editor>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <editor>
                    <file>editor.xml</file>
                </editor>
            </updates>
        </layout>
    </adminhtml>

</config>