<?xml version="1.0"?>
<config>

    <modules>
        <Etsb_Productinitiate>
            <version>0.1.0</version>
        </Etsb_Productinitiate>
    </modules>

    <frontend>
        <routers>
            <productinitiate>
                <use>standard</use>
                <args>
                    <module>Etsb_Productinitiate</module>
                    <frontName>productinitiate</frontName>
                </args>
            </productinitiate>
        </routers>

        <layout>
            <updates>
                <productinitiate>
                    <file>productinitiate.xml</file>
                </productinitiate>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <productinitiate>
                <use>admin</use>
                <args>
                    <module>Etsb_Productinitiate</module>
                    <frontName>productinitiate</frontName>
                </args>
            </productinitiate>
        </routers>
    </admin>

    <adminhtml>
        <!--<menu>
            <photography module="photography">
                <title>Photography</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="photography">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>photography/adminhtml_photography</action>
                    </items>
                </children>
            </photography>
        </menu>-->

        <!--<menu>
            <mycustom_menu translate="title" module="productinitiate">
                <title>Productinitiate</title>
                <sort_order>300</sort_order>
                &lt;!&ndash;<children>
                    &lt;!&ndash; child items go here &ndash;&gt;
                    <subitem translate="title" module="photography">
                        <title>Manage Items</title>
                        <sort_order>10</sort_order>
                        <action>photography/adminhtml_photography/</action>
                    </subitem>
                </children>&ndash;&gt;

                <children>
                    <subitem1 translate="title" >
                        <title>Photography</title>
                        <sort_order>10</sort_order>
                        <action>photography/adminhtml_photography/</action>
                    </subitem1>

                    <subitem2 translate="title">
                        <title>Image Editor</title>
                        <sort_order>20</sort_order>
                        <action>editor/adminhtml_editor</action>
                    </subitem2>

                    <subitem3 translate="title">
                        <title>Product Initiate</title>
                        <sort_order>20</sort_order>
                        <action>productinitiate/adminhtml_productinitiate</action>
                    </subitem3>
                </children>
            </mycustom_menu>
        </menu>-->


        <!--<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <photography>
                            <title>Photography Module</title>
                            <sort_order>200</sort_order>
                        </photography>
                    </children>
                </admin>
            </resources>
        </acl>-->

        <!--<acl>
            <resources>
                <admin>
                    <children>
                        <mycustom_menu translate="title" module="photography">
                            <title>Photography Module</title>
                            <sort_order>300</sort_order>
                            <children>
                                &lt;!&ndash; child items go here &ndash;&gt;
                                <subitem1 translate="title" module="photography">
                                    <title>Photography</title>
                                    <sort_order>10</sort_order>
                                </subitem1>

                                <subitem2 translate="title">
                                    <title>Image Editor</title>
                                    <sort_order>20</sort_order>
                                </subitem2>
                            </children>
                        </mycustom_menu>
                    </children>
                </admin>
            </resources>
        </acl>-->

        <layout>
            <updates>
                <productinitiate>
                    <file>productinitiate.xml</file>
                </productinitiate>
            </updates>
        </layout>
    </adminhtml>

    <global>

        <models>
            <productinitiate>
                <class>Etsb_Productinitiate_Model</class>
                <resourceModel>productinitiate_mysql4</resourceModel>
            </productinitiate>
            <productinitiate_mysql4>
                <class>Etsb_Productinitiate_Model_Mysql4</class>
                <!--<entities>
                    <photography>
                        <table>photography</table>
                    </photography>
                </entities>-->
                <entities>
                    <!--<photography>
                        <table>photography</table>
                    </photography>-->
                    <editor>
                        <table>etsbeditor</table>
                    </editor>
                </entities>
            </productinitiate_mysql4>
        </models>

        <resources>
            <productinitiate_setup>
                <setup>
                    <module>Etsb_Productinitiate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productinitiate_setup>

            <productinitiate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productinitiate_write>

            <productinitiate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productinitiate_read>
        </resources>

        <blocks>
            <productinitiate>
                <class>Etsb_Productinitiate_Block</class>
            </productinitiate>
        </blocks>

        <helpers>
            <productinitiate>
            <class>Etsb_Productinitiate_Helper</class>
            </productinitiate>
        </helpers>
    </global>
</config>