<?xml version="1.0"?>
<config>
    <modules>
        <Etsb_Photoeditor>
            <version>1.0.0</version>
        </Etsb_Photoeditor>
    </modules>
    <global>
        <helpers>
            <photoeditor>
                <class>Etsb_Photoeditor_Helper</class>
            </photoeditor>
        </helpers>
        <models>
            <photoeditor>
                <class>Etsb_Photoeditor_Model</class>
                <resourceModel>photoeditor_mysql4</resourceModel>
            </photoeditor>
            <photoeditor_mysql4>
                <class>Etsb_Photoeditor_Model_Mysql4</class>
                <entities>
                    <editor>
                        <table>etsbeditor</table>
                    </editor>
                </entities>
            </photoeditor_mysql4>
        </models>

        <blocks>
            <photoeditor>
                <class>Etsb_Photoeditor_Block</class>
            </photoeditor>
        </blocks>
        <resources>
            <photoeditor_setup>
                <setup>
                    <module>Etsb_Photoeditor</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </photoeditor_setup>
            <photoeditor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </photoeditor_write>
            <photoeditor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </photoeditor_read>
        </resources>
    </global>
    <default>
        <photoeditor>
            <general>
                <enabled>1</enabled>
                <minSlides>1</minSlides>
                <maxSlides>1</maxSlides>
                <speed>500</speed>
                <imagewidth>684</imagewidth>
            </general>
        </photoeditor>

    </default>
    <frontend>
        <routers>
            <photoeditor>
                <use>standard</use>
                <args>
                    <module>Etsb_Photoeditor</module>
                    <frontName>photoeditor</frontName>
                </args>
            </photoeditor>
        </routers>
        <layout>
            <updates>
                <photoeditor>
                    <file>photoeditor.xml</file>
                </photoeditor>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <photoeditor>
                <use>admin</use>
                <args>
                    <module>Etsb_Photoeditor</module>
                    <frontName>photoeditor</frontName>
                </args>
            </photoeditor>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <photoeditor>
                    <file>photoeditor.xml</file>
                </photoeditor>
            </updates>
        </layout>
    </adminhtml>

</config>