<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Etsb_NotifyStoreOwner>
            <version>0.0.1</version>
        </Etsb_NotifyStoreOwner>
    </modules>

    <!-- Configure our module's behavior in the global scope -->
    <global>
        <!-- Defining models -->
        <models>
            <!--Unique identifier in the model's node.
                By convention, we put the module's name in lowercase.-->
            <etsb_notifystoreowner>
                <!-- The path to our models directory, with directory
                    separators replaced by underscores-->
                <class>Etsb_NotifyStoreOwner_Model</class>
            </etsb_notifystoreowner>
        </models>

        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <etsb_notifystoreowner>
                        <type>singleton</type>
                        <class>etsb_notifystoreowner/observer</class>
                        <method>notifystoreowner</method>
                    </etsb_notifystoreowner>
                </observers>
            </catalog_product_save_commit_after>
        </events>
    </global>

</config>